<%- include('webheader') %>
    <div class="about_banner_section">
        <img src="/assets/images/web/about_banner.png" alt="About Us">
        <div class="about_banner_content">
            <h1>About Us</h1>
            <h4>Connecting Communities, Empowering Mobility</h4>
        </div>
    </div>
    <div class="about_section section_padd">
        <div class="c">
            <div>
                <h2 class="h2_">Company Focus</h2>
                <h4>Enhancing mobility in Tier 2 and Tier 3 cities of Tamil Nadu</h4>
                <div class="row align_center">
                    <div class="col col_40 txt_center">
                        <img src="/assets/images/web/service2.png" class="about_img" alt="Company Focus">
                    </div>
                    <div class="col col_60">
                        <p>At Cabocab, our primary focus is on transforming transportation in Tier 2, Tier 3, and Tier 4
                            cities across Tamil Nadu. We aim to provide residents with reliable, safe, and affordable
                            mobility options that were previously limited. By focusing on these underserved areas, we're
                            making travel easier and more accessible for everyone.</p>
                    </div>
                </div>
            </div>
            <div>
                <h2 class="h2_ mt_top">Purpose</h2>
                <h4>Bridging the transportation gap with reliable and affordable travel.</h4>
                <div class="row align_center">
                    <div class="col col_60">
                        <p>Our purpose is to close the transportation divide, ensuring that everyone, regardless of
                            location, has access to convenient and cost-effective travel solutions. We strive to make
                            mobility a right, not a privilege, by connecting riders with trustworthy drivers who are
                            committed to providing a high-quality experience.</p>
                    </div>
                    <div class="col col_40 txt_center">
                        <img src="/assets/images/web/about1.png" class="about_img about_img_width" alt="Purpose">
                    </div>
                </div>
            </div>
            <div>
                <h2 class="h2_ mt_top">Technology and Network</h2>
                <h4>Leveraging technology for a seamless and tailored ride experience.</h4>
                <div class="row align_center">
                    <div class="col col_40 txt_center">
                        <img src="/assets/images/web/about2.png" class="about_img about_img_width"
                            alt="Technology and Network">
                    </div>
                    <div class="col col_60">
                        <p>Cabocab uses cutting-edge technology to create a smooth, user-friendly platform that adapts
                            to our users' needs. Our vast driver network ensures efficient and comfortable rides. We
                            make every journey easy, no matter the location.</p>
                    </div>
                </div>
            </div>
            <div>
                <h2 class="h2_ mt_top">Community and Economic Impact</h2>
                <h4>Empowering communities through better connectivity and growth.</h4>
                <div class="row align_center">
                    <div class="col col_60">
                        <p>We believe better connectivity strengthens communities and drives economic growth. By
                            offering accessible transportation, we contribute to local job creation and development.
                            Cabocab is dedicated to making a positive impact in the regions we serve.</p>
                    </div>
                    <div class="col col_40 txt_center">
                        <img src="/assets/images/web/about3.png" class="about_img about_img_width"
                            alt="Community and Economic Impact">
                    </div>
                </div>
            </div>
            <div>
                <h2 class="h2_ mt_top">Commitment</h2>
                <h4>Committed to redefining the future of transportation with exceptional service.</h4>
                <div class="row align_center">
                    <div class="col col_40 txt_center">
                        <img src="/assets/images/web/about4.png" class="about_img about_img_width" alt="Commitment">
                    </div>
                    <div class="col col_60">
                        <p>Cabocab is devoted to transforming travel with innovative solutions. We listen to our users,
                            continuously improve our services, and lead with a commitment to excellence. Our goal is to
                            deliver the best possible experience, every time</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ........................................ -->





    <div class="vm_section section_padd">
        <div class="c">
            <div class="row align_center">
                <div class="col col_2">
                    <div class="choose_content">
                        <h3>Vision</h3>
                        <p>To provide tier 1 level accessibility to tier 2 and 3 cities by developing and deploying a
                            reliable and user-friendly ride-hailing platform, ensuring safe and efficient transportation
                            for underserved areas and introducing electric vehicles in tier 1, 2 and 3 cities through an
                            own fleet of EV vehicles, revolutionising urban mobility while reducing environmental
                            impact.</p>
                    </div>
                </div>
                <div class="col col_2 txt_center">
                    <img src="/assets/images/web/vision.png" class="w_100 vission_img" alt="Vision">
                </div>
            </div>
            <div class="row align_center mob_flex_dir">
                <div class="col col_2">
                    <img src="/assets/images/web/mission.png" class="w_100 mission_img" alt="Mission">
                </div>
                <div class="col col_2">
                    <div class="choose_content mission_padd">
                        <h3>Mission</h3>
                        <p>To make tier 2 and 3 cities completely accessible, empowering people with convenient mobility
                            solutions that enhance their daily lives and contribute to regional growth. Additionally
                            providing an environmentally sustainable transportation networks in tier 1, 2 and 3 cities,
                            making clean energy-driven mobility a standard, contributing to a healthier and
                            greener environment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('webfooter') %>