<%- include('webheader') %>
    <div class="career_section section_padd">
        <div class="c">
            <div class="row">
                <div class="col col_1 mob_career_banner">
                    <img src="/assets/images/web/career_bg.png" alt="Join the Cabocab Family">
                </div>
                <div class="col col_2">
                    <h1 class="h2_">Join the Cabocab Family</h1>
                    <p>At Cabocab, we offer more than a job we provide fair earnings, flexible work, and a supportive
                        community. Whether you need full-time work or extra income, driving with us ensures the freedom
                        and security you deserve. Join us and make a difference in tier-3 cities across the country.
                        Your journey starts here.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="work_section section_padd">
        <h2 class="h2_">Why Work With Us?</h2>
        <div class="c">
            <div class="row">
                <div class="col col_3 pr_0">
                    <div class="sec_bg_green1">
                        <div class="mt_top txt_center">
                            <img src="/assets/images/web/work1.svg" class="career_img"
                                alt="Earn More with Zero Commission">
                        </div>
                        <div class="support_section_inner">
                            <h4>Earn More with Zero Commission</h4>
                            <p>We believe in fair earnings, which is why we don’t take a cut from your hard-earned
                                money.
                                With
                                zero commission on every ride, you keep 100% of your fare.</p>
                        </div>
                    </div>
                </div>
                <div class="col col_3 pr_0 pl_0">
                    <div class="sec_bg_dark">
                        <div class="mt_top txt_center">
                            <img src="/assets/images/web/work2.svg" class="career_img" style="width: 33.4%;"
                                alt="Flexible Work Hours">
                        </div>
                        <div class="support_section_inner">
                            <h4>Flexible Work Hours</h4>
                            <p>Be your own boss. Choose when and where you want to drive, giving you the freedom to work
                                around your schedule and balance your life.</p>
                        </div>
                    </div>
                </div>
                <div class="col col_3 pl_0">
                    <div class="sec_bg_green2">
                        <div class="mt_top txt_center">
                            <img src="/assets/images/web/work3.svg" class="career_img" alt="Respect and Recognition">
                        </div>
                        <div class="support_section_inner">
                            <h4>Respect and Recognition</h4>
                            <p>At Cabocab, we value your hard work. Our rating system ensures that respectful and
                                courteous behavior is recognized and rewarded, creating a positive experience for both
                                drivers and passengers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="employee_section section_padd">
        <h2 class="h2_">What Our Employee Say</h2>
        <div class="c">
            <div class="row">
                <div class="col col_2 pad__">
                    <div class="sec_bg_dark employee_section_inner">
                        <img src="/assets/images/web/employee1.png" class="emp_img" alt="Employee Say">
                        <h4>Feedback 1</h4>
                        <p>We pride ourselves on offering excellent compensation for exceptional work.</p>
                    </div>
                </div>
                <div class="col col_2 pad__">
                    <div class="sec_bg_dark employee_section_inner">
                        <img src="/assets/images/web/employee2.png" class="emp_img" alt="Employee Say">
                        <h4>Feedback 2</h4>
                        <p>We pride ourselves on offering excellent compensation for exceptional work.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('webfooter') %>