<%- include('webheader') %>
    <div class="safety_section section_padd">
        <h1 class="h2_">Your Safety, Our Priority</h1>
        <div class="c">
            <div class="row align_center">
                <div class="col col_2">
                    <img src="/assets/images/web/safety.png" class="safety_img" alt="Your Safety Our Priority">
                </div>
                <div class="col col_2">
                    <div class="choose_content">
                        <p class="f_600">At <span>Cabocab,</span> we’re committed to making every journey a safe one.
                            From the moment
                            you
                            book a ride
                            until you reach your destination, your well-being is at the heart of everything we do.
                            Whether
                            you’re a passenger or a driver, we’re here to protect you, every mile of the way.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="customer_section section_padd">
        <h2 class="h2_">Customer and Driver Safety</h2>
        <div class="c">
            <div class="row">
                <div class="col col_2">
                    <div class="txt_center">
                        <img src="/assets/images/web/customer.png" class="cd_img" alt="Ride Safely with Us">
                    </div>
                    <div class="customer_section_inner">
                        <h3>Ride Safely with Us</h3>
                        <p class="f_600">Vetted drivers, real-time tracking, and an SOS button at your fingertips. We’re
                            here to
                            ensure your journey is safe and stress-free.</p>
                    </div>
                </div>
                <div class="col col_2">
                    <div class="txt_center">
                        <img src="/assets/images/web/driver.png" class="cd_img" alt="Your Safety Matters">
                    </div>
                    <div class="customer_section_inner">
                        <h3>Your Safety Matters</h3>
                        <p class="f_600">Verified passengers, easy SOS access, and full support. Drive with confidence,
                            knowing we’re
                            here to protect you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="support_section section_padd">
        <div class="c">
            <div class="row">
                <div class="col col_2 pr_0">
                    <div class="support_section_bg_green">
                        <div class="txt_center mt_top">
                            <img src="/assets/images/web/support.png" class="sr_img" alt="SOS & 24/7 Support">
                        </div>
                        <div class="support_section_inner">
                            <h3>SOS & 24/7 Support</h3>
                            <h4>Help When You Need It Most</h4>
                            <p>Our app’s SOS button is designed for instant access to emergency assistance. With just
                                one tap, you can alert authorities and share your live location. Coupled with our 24/7
                                customer support, help is always available, no matter the time or place.</p>
                        </div>
                    </div>
                </div>
                <div class="col col_2 pl_0">
                    <div class="support_section_bg_dark">
                        <div class="txt_center mt_top">
                            <img src="/assets/images/web/rating.png" class="sr_img" alt="Rating system">
                        </div>
                        <div class="support_section_inner">
                            <h3>Rating system</h3>
                            <h4>Building a Better Community</h4>
                            <p>Our two-way rating system allows both customers and drivers to rate each other after
                                every ride, promoting accountability and continuous improvement. Your feedback helps us
                                maintain high standards and enhance your experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('webfooter') %>