<footer class="footer_taxi">
    <div class="c">
        <div class="row border_bottom">
            <div class="col col_3">
                <div>
                    <a href="/" class="logo_" tabindex="0">
                        <img src="/assets/images/web/footer_logo.svg" alt="Cabocab Logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col_3">
                <div class="footer_inner">
                    <h4>Explore</h4>
                    <ul>
                        <li><a href="/" tabindex="0">Home</a></li>
                        <li><a href="/about" tabindex="0">About Us</a></li>
                        <li><a href="/career" tabindex="0">Career</a></li>
                        <li><a href="/supportpage" tabindex="0">Contact Us</a></li>
                        <li><a href="/safety" tabindex="0">Safety</a></li>
                    </ul>
                </div>
            </div>
            <div class="col col_3">
                <div class="footer_inner">
                    <h4>Utility Pages</h4>
                    <ul>
                        <li><a href="/privacy-policy" tabindex="0">Privacy Policy</a></li>
                        <li><a href="/refund-policy" tabindex="0">Refund Policy</a></li>
                        <li><a href="/driver/terms-conditions" tabindex="0">Terms Conditions for Driver</a></li>
                        <li><a href="/user/terms-conditions" tabindex="0">Terms Conditions for Rider</a></li>
                    </ul>
                </div>
            </div>
            <div class="col col_3">
                <div class="footer_inner">
                    <h4>Keep in Touch</h4>
                    <div class="social_icon">
                        <a href="https://www.facebook.com/profile.php?id=61566403840613&mibextid=LQQJ4d" target="_blank"
                            tabindex="0">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="https://x.com/cabocabofficial/status/1841068528985649596?s=46" target="_blank"
                            tabindex="0">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/cabocab/" target="_blank" tabindex="0">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="/" target="_blank" tabindex="0">
                            <i class="fa-brands fa-instagram"></i>
                        </a>

                        <!-- .................. -->


                        
                        </div>

                        <!-- ....................... -->



                      
                    </div>

                    <!-- ............... -->


                    <div class="txt_center">
                        <!-- Link to the YouTube video -->
                        <a href="https://play.google.com/store/apps/details?id=com.app.cabouser" target="_blank" tabindex="0">
                            <img src="/assets/images/web/play.png" class="store_img" alt="Guide to the app">
                        </a>
                        <a href="https://apps.apple.com/in/app/cabocab/id6692617137" target="_blank" tabindex="0">
                            <img src="/assets/images/web/app.png" class="store_img" alt="Guide to the app">
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="scroll-top-btn" id="back-to-top">
    <i class="fas fa-chevron-up"></i>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/assets/js/script.js"></script>
<script>
    // Back to Top Button
    const backToTopButton = document.getElementById('back-to-top');

    window.addEventListener('scroll', () => {
        if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
            backToTopButton.style.display = 'flex';
        } else {
            backToTopButton.style.display = 'none';
        }
    });

    backToTopButton.addEventListener('click', () => {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    });
</script>
</body>

</html>