<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
<link rel="stylesheet" href="/assets/css/web/fonts.css">
<link rel="stylesheet" href="/assets/css/web/main.css">
<link rel="stylesheet" href="/assets/css/web/webstyle.css">
<link rel="stylesheet" href="/assets/css/web/responsive.css">
<header>
    <div class="c">
        <div class="row">
            <div class="col col_4">
                <div class="logo">
                    <!-- <a href="/" class="logo_img" tabindex="0"><img src="/assets/images/web/logo_white.svg" -->
                            alt="Cabocab Logo"></a>
                </div>
            </div>
            <div class="col col_75">
                <i class="fa-solid fa-bars-staggered mob_bars"></i>
                <div class="nav side-slide">
                    <a href="/" class="logo_img mob_logo_img"><img src="/assets/images/web/logo_white.svg"
                            alt="Cabocab Logo"></a>
                    <i class="fa-solid fa-xmark close_icon"></i>
                    <ul id="myDIV" class="navbar">
                        <div class="logo">
                            <a href="/" class="logo_img" tabindex="0"><img src="/assets/images/web/logo_white.svg"
                                    alt="Cabocab Logo"></a>
                        </div>
                        <li class="nav-item"><a href="/" tabindex="0">Home</a></li>
                        <li class="nav-item"><a href="/safety" tabindex="0">Safety</a></li>
                        <li class="nav-item"><a href="/career" tabindex="0">Career</a></li>
                        <li class="nav-item"><a href="/about" tabindex="0">About Us</a></li>
                        <li class="nav-item"><a href="/supportpage" tabindex="0">Support</a></li>
                    </ul>
                    <a href="/corporate/login" class="corporate" tabindex="0">Corporate</a>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- 


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
<link rel="stylesheet" href="/assets/css/web/fonts.css">
<link rel="stylesheet" href="/assets/css/web/main.css">
<link rel="stylesheet" href="/assets/css/web/webstyle.css">
<link rel="stylesheet" href="/assets/css/web/responsive.css">

<header>
    <div class="c">
        <div class="row">
            <div class="col col_4">
                <div class="logo">
                    <a href="/" class="logo_img" tabindex="0">
                        <img src="/assets/images/web/logo_white.svg" alt="Cabocab Logo">
                    </a>
                </div>
            </div>
            <div class="col col_75">
                <i class="fa-solid fa-bars-staggered mob_bars"></i>
                <div class="nav side-slide">
                    <a href="/" class="logo_img mob_logo_img">
                        <img src="/assets/images/web/logo_white.svg" alt="Cabocab Logo">
                    </a>
                    <i class="fa-solid fa-xmark close_icon"></i>
                    <ul id="myDIV" class="navbar">
                        <li class="nav-item"><a href="/" tabindex="0">Home</a></li>
                        <li class="nav-item"><a href="/safety" tabindex="0">Safety</a></li>
                        <li class="nav-item"><a href="/career" tabindex="0">Career</a></li>
                        <li class="nav-item"><a href="/about" tabindex="0">About Us</a></li>
                        <li class="nav-item"><a href="/supportpage" tabindex="0">Support</a></li>
                    </ul>
                    <a href="/corporate/login" class="corporate" tabindex="0">Corporate</a>
                </div>
            </div>
        </div>
    </div>
</header> -->