html {
  -webkit-text-size-adjust: 100%;
}
body {
  overflow-y: scroll;
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
}
* {
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  width: 100%;
}
a,
button {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: all 0.4s ease;
}
select,
map,
area,
a,
button {
  border: 0px;
  outline: none;
}
img {
  border-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
p {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 25px;
}
p:last-child {
  margin-bottom: 0;
}
b {
  color: #fff;
}
input[type="text"],
input[type="password"],
textarea {
  text-align: left;
  background: transparent;
}
input,
textarea,
select {
  border: 0;
  outline: none;
  line-height: normal;
  border-radius: 0;
}
textarea {
  resize: none;
}
.c {
  margin: auto;
  padding: 0;
  width: 1440px;
}
.clear {
  clear: both;
}
.none {
  display: none !important;
}
.p_relative {
  position: relative;
}
.row {
  font-size: 0;
  margin: 0 -20px;
}
.col {
  display: inline-block;
  padding: 0 20px;
}
.col_1 {
  width: 100%;
}
.col_2 {
  width: 50%;
}
.col_3 {
  width: 33.33%;
}
.col_4 {
  width: 25%;
}
.col_75 {
  width: 75%;
}
.col_30 {
  width: 30%;
}
.col_20 {
  width: 20%;
}
.col_15 {
  width: 15%;
}
.col_16_66 {
  width: 16.66%;
}
.col_10 {
  width: 10%;
}
.col_40 {
  width: 40%;
}
.col_60 {
  width: 60%;
}
.col_70 {
  width: 70%;
}
.col_80 {
  width: 80%;
}
.col_85 {
  width: 85%;
}
.col_90 {
  width: 90%;
}

.image {
  position: relative;
  display: block;
}
.bg_full {
  background: url() no-repeat 50% 50%;
  overflow: hidden;
  background-size: cover;
}
.bg_full,
.full-dimension,
.full_el {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.wrapper {
  overflow: hidden;
  min-height: 800px;
}
.wrapper.lock {
  position: fixed;
  width: 100%;
  left: 0;
}
.btn_ {
  padding: 10px 34px;
  color: #fff;
  background: #035fb4;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 600;
}
.btn_:hover {
  color: #fff;
  background: #102f54;
}
.btn_ {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.bg_white {
  background-color: #fff;
}
@media (max-width: 1450px) {
  .c {
    width: 100%;
    padding: 0 50px;
  }
}
.m_top {
  margin-top: 30px;
}
.section_padd {
  padding: 40px 0;
}
.d_flex {
  display: flex;
}
.txt_center {
  text-align: center;
}
.txt_right {
  text-align: right;
}
.m_bottom {
  margin-bottom: 30px;
}
.pt_0 {
  padding-top: 0;
}
.pb_0 {
  padding-bottom: 0;
}
.mb_0 {
  margin-bottom: 0;
}
.pr_0 {
  padding-right: 0;
}
.pl_0 {
  padding-left: 0;
}
